.shows-index-wrapper {
  margin: 0 auto;
  width: 70%;
}

.shows-index {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1000px) {
  .shows-index-wrapper {
    width: 90%;
  }
  .shows-index {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .shows-index {
    grid-template-columns: 1fr;
  }
}
