p {
  background: white;
  height: 75px;
  width: 200px;
  overflow: scroll;
}
h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  text-shadow: 4px 6px #efefef;
}
body {
  background-color: #096aba;
}

h1 {
  color: red;
  font-size: 10px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}
